<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level1</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.5152</real>
				<real>0.5688</real>
			</array>
			<key>length</key>
			<integer>15</integer>
		</dict>
	</array>
	<key>level2</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.5152</real>
				<real>0.5688</real>
			</array>
			<key>length</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.8172</real>
				<real>0.4683</real>
			</array>
			<key>length</key>
			<integer>16</integer>
		</dict>
	</array>
	<key>level3</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.5152</real>
				<real>0.5688</real>
			</array>
			<key>length</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.25</real>
				<real>0.6983</real>
			</array>
			<key>length</key>
			<integer>20</integer>
		</dict>
	</array>
	<key>level4</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.1967</real>
				<real>0.6983</real>
			</array>
			<key>length</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.5967</real>
				<real>0.6983</real>
			</array>
			<key>length</key>
			<integer>15</integer>
		</dict>
	</array>
	<key>level5</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.8593</real>
				<real>0.7588</real>
			</array>
			<key>length</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.85</real>
				<real>0.8996</real>
			</array>
			<key>length</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.1187</real>
				<real>0.9383</real>
			</array>
			<key>length</key>
			<integer>40</integer>
		</dict>
	</array>
	<key>level6</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.5152</real>
				<real>0.5688</real>
			</array>
			<key>length</key>
			<integer>15</integer>
		</dict>
	</array>
	<key>level7</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.5152</real>
				<real>0.5688</real>
			</array>
			<key>length</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.8172</real>
				<real>0.4683</real>
			</array>
			<key>length</key>
			<integer>16</integer>
		</dict>
	</array>
	<key>level8</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.5152</real>
				<real>0.5688</real>
			</array>
			<key>length</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.25</real>
				<real>0.6983</real>
			</array>
			<key>length</key>
			<integer>20</integer>
		</dict>
	</array>
	<key>level9</key>
	<array>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.1967</real>
				<real>0.6983</real>
			</array>
			<key>length</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>relativeAnchorPoint</key>
			<array>
				<real>0.5967</real>
				<real>0.6983</real>
			</array>
			<key>length</key>
			<integer>15</integer>
		</dict>
	</array>
</dict>
</plist>
